@import "../../utils/constants.scss";

.generationPass {
    padding-left: 255px;
    background: $bg_generation_passwd;
    min-height: calc(100vh - 60px);
    padding-top: 60px;

    &__block {
        width: 500px;
        min-height: 250px;
        margin: 200px auto 0 auto;
        box-shadow: 0px 0px 10px rgba(240, 102, 67, 0.655);
        padding: 40px;
        background-color: #fff;

        &_title {
            text-align: center;
            font-size: 24px;;
            margin-bottom: 40px;
        }
        &_field {
            width: 100%;
            margin-bottom: 35px;
            font-size: 18px;

            input {
                width: 100%;
                padding: 13px;                
                outline: none;
                font-size: 16px;
                border: 1px solid #D0D9DE;
                border-radius: 30px;
                margin-top: 5px;
            }
        }
        &_length {
            font-size: 18px;
            margin-bottom: 35px;

            input {
                width: 100%;
                padding: 13px;                
                outline: none;
                font-size: 16px;
                border: 1px solid #D0D9DE;
                border-radius: 30px;
                margin-top: 5px;
            }

        }
        &_generate {
            font-size: 18px;
            background-color: #F06543FF;
            color: #fff;
            border-radius: 50px;
            padding: 10px;
            text-align: center;
            width: 60%;
            margin: 0 auto;
            cursor: pointer;
            margin-bottom: 15px;
            transition: background .3s ease-out;

            &.active {
                background-color: darken($color: #F06543FF, $amount: 5%);
                border: none;
            }

            &:hover {
                background: lighten($color: #F06543FF, $amount: 3%);
                transition: background .3s ease-in;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

    }

    &__title {
        font-size: 32px;
        text-align: center;
    }
}